<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<div class="heading">
	<center>Sporty Shoes</center>
</div>
<div class = "body-center">
	<center>
	<form action = "#" th:action = "@{/resetpassword}" method = "post">
		username : <input type = "text" th:name = "username" />
		<br/>
		old password: <input type = "password" th:name = "oldpassword" /><br />
		new password: <input type= "password" th:name = "newpassword" /><br/>
		confirm new password: <input type = "text" th:name = "newconfirmpassword" /><br/>
		<input type = "submit" value = "reset"/>		
 	</form>
 	</center>
 </div>
</body>
</html>